*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#000;
    --seondary-color:#f39c12;
    --main-font:0.9em;
}
body{
background-color:var(--main-color) ;
}
a{
    font-size: 1.9em;
}
section.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em;
    background-color: var(--main-color);
    color: white;
}

.logo>a{
    color: white;

}
.logo>a>span,.logo>a>i{
    margin-left: .3em;
    color:var(--seondary-color) ;
}
.login>button{
    outline: none;
    border: none;
    background-color: var(--seondary-color);
    padding: .8em 1.3em;
    border-radius:2em ;
    margin: 0 .5em 0 .6em;
    cursor: pointer;
    font-size: var(--main-font);
    transition: all 1s ;
}
.login>button>i{
    margin-left: .6em ;
}
.login>button:hover{
   box-shadow:  0px 0px 20px 0px var(--seondary-color);

}
section.container{
    background-color: #f39c12;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    margin:10em auto;
}